<div class="ptl" id="footer">
	<div class="ltrt">
		<div class="responsive">
			{% if visits_total or visits_count %}
			<ol class="served">
				<li class="hits">
					{% if visits_total %}
					<span class="user" title="Overall hits">{{ visits_total }}</span>
					{% endif %} {% if visits_count %}
					<span class="Hited by" title="Overall hits">{{ visits_count }}</span>
					{% endif %}
					<span>served</span>
				</li>
			</ol>
			{% endif %}

			<ol class="copyright">
				<li class="copyright">
					&copy; <em>2025</em> <strong>{{ appName }}</strong>
				</li>
			</ol>

			<ol class="menu privacy">
				{% for link in nav_terms %}
				<li class="{% if link.is_current %}current{% endif %}">
					<a href="{% url link.url_name %}">
						<span>{{ link.text }}</span>
					</a>
				</li>
				{% endfor %}
			</ol>
		</div>
	</div>
</div>
