ul
  li.activ--.showMobileMenu--
    //- nav-engine
    //- div.toggle.panel.zA.icon-user
    //-   span(style="display:none")
    ol.menu.user
      li.suggest
        span(@click="theme_switch") Mode:{{themeMode}}

      //- li.signin
      //-   a(href="/signin")
      //-     span Signin
      //- li.signup
      //-   a(href="/signup")
      //-     span Signup