extends layout
block content
  div.ptl.privacy#content
    div.resz.ltrt
      div.docs
        h1 Privacy Policy
        p.date
          | Date
          span (dd.mm.yy):
          |
          q 24.07.23
          |
        p Your privacy is very important to us. This policy aims to help you understand how we collect, use, communicate, and disclose personal information. Please read the following to learn more.

        ul.in-short
          li Adult words included for informative purposes only.
          li Parental guidance recommended for younger users.
          li We prioritize accuracy and avoid explicit or harmful content.
          li Report any inappropriate content for prompt action.
          li Committed to a respectful and safe environment.

        h2 Adult word in Dictionary

        p As a dictionary, our content includes a wide range of words, including those that may be considered adult or sensitive in nature. These words are solely provided for their definitions and to offer a comprehensive understanding of language and vocabulary.
        p We are committed to maintaining an inclusive and informative dictionary while recognizing that some words may be unsuitable for certain audiences. Therefore, we advise parental guidance for younger users and recommend that individuals use our dictionary responsibly and in accordance with applicable laws and regulations.
        p Our primary goal is to provide accurate and reliable definitions to serve the educational and linguistic needs of our users. We do not endorse or promote explicit, harmful, or offensive content. Our intention is to present words within the context of language, free from explicit material or harmful intent.
        p If you come across any content that you find inappropriate or offensive, please notify us immediately, and we will take appropriate measures to address the concern.
        p We are dedicated to fostering a respectful and safe environment for all users of our dictionary, and we encourage open communication to ensure the continued improvement of our services.
        p Should you have any questions or need further clarification about our approach to content in the dictionary, feel free to reach out to us. Your feedback is essential in helping us maintain the quality and appropriateness of our dictionary for everyone's benefit.

        h2 Data Collection

        p #[strong=appName] gathers information about all visitors to #[q myordbok.com], such as the time and date of the visit, the operating system and browser used, the domain from where you visited, where you were redirected from, and the pages you browsed. This information is used solely for generating server usage statistics and improving #[strong=appName]. We do not collect personally identifiable information, such as your name, postcode, or e-mail address, nor do we relate personal information to usage statistics. However, we do record emails sent from #[strong=appName].
        p Any member with an account at #[strong=appName] may request personal information that might be considered personal. We will explain why information is required for a service and how it will be used. Information will be stored for as long as you use the service or until you request to terminate your registration.

        h2 Data Sharing and Privacy

        p #[strong=appName] will not disclose any personal information to outside organizations or companies. Member information will not be publicly displayed unless you have shared it yourself. If you hold an account, the information will only be available to relevant staff members within #[q myordbok.com], and you will be asked directly if we upgrade/increase our services. Registration through Firebase is for users who wish to contribute words, definitions, or comments, and it does not affect the search for definitions.
        p #[strong=appName] defines your IP address through cookies (visited or not) from your machine. The purpose is to count visitors, track visit duration, and measure time since your last visit. Our cookies do not collect any personal information or information about your machine. Sessions are deleted when the browser window is closed.


        h2 Contact Us

        p
          | Please feel free to contact us for any feedback, suggestions, and comments at
          |
          a(href="https://docs.google.com/forms/d/e/1FAIpQLScSyBRtQrEc1YGh3m0O96vy6YNlCtJZR5T6NIJ9hYJRfcnV2g/viewform" title="အကြောင်းကြားပေးရန်") Google form
          |.
        p We are committed to conducting our business in accordance with these principles to ensure that the confidentiality of personal information is protected and maintained.

block footer
  include footer