extends layout
block content
  div.ptl.content
    div
      div.sponsor
        div.row.hero
          div
            h1 Discover wisdom through words
            p.app using a responsive and comprehensive Myanmar dictionary online.
            //- p.journey #[q MyOrdbok] - #[span.embrace Embrace Myanmar's timeless language, expand horizons], #[span.fuel fuel our journey together].
            p.journey #[span.embrace Embrace Myanmar's timeless language, expand horizons], #[span.fuel fuel our journey together].
        div.row.valuable
          div
            div.visual
            div.context
              h2 Your valuable contributions
              p ...not only play a crucial role in serving others by helping us expand our word and definition database but also assist us in covering our monthly server costs. We utilize Google Compute Engine to host our services, and your support makes a significant difference.
        div.row.donation
          div
            div.context
              h2 Help us
              p covering our monthly server costs, to work on more comprehensive contents, and expending services
              //- to be able to provide more comprehensive contents
              p Any amount of donations help us expend our services,
            div.visual
              form(action="https://www.paypal.com/donate" method="post" class="paypal")
                input(type="hidden" name="hosted_button_id" value="C9PDG3T47WJ26")
                button.icon-paypal(type="submit" name="submit" title="Donate with Paypal") Donate with Paypal
              form(action="https://github.com/sponsors/khensolomon" method="get" class="github")
                button.icon-github(type="submit" title="Github Sponsor") Github Sponsor
        div.row.tmp
          div
              header
                h1 Empower Education
                p Donate to Expand Our Dictionary Project
              section.donation-progress
                h2 Join us in making a difference!
                .progress-bar
                  .progress-fill
                p Help us reach our donation goal and expand access to knowledge.
              section.donation-stories
                h2 Our Impact Stories
                .story
                  img(src="story1.jpg", alt="Story 1")
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel nunc id libero egestas congue.
                .story
                  img(src="story2.jpg", alt="Story 2")
                  p Curabitur ac tellus eu ex euismod faucibus non vel massa.
              section.donation-form
                h2 Make a Donation
                form(action="#" method="POST")
                  label(for="amount") Enter donation amount:
                  input(type="number", id="amount", name="amount", min="1", step="1", required)
                  button(type="submit") Donate Now

block footer
  include footer