@use "Config" as *;
@mixin css {
	// >div{
	//   padding:0px;
	// }
	&.ltrt {
		padding: 0;
		width: 100%;
	}
	ul {
		padding-bottom: 10px;
		> li {
			// padding: 20px 0;
			padding-top: 20px;
			padding-bottom: 10px;
			// margin-bottom: 50px;
			> div {
				position: relative;
				height: 35px;
				// margin-top: 3px;
				// margin-bottom: 3px;
				> div {
					height: 30px;
					&.name {
						// display: none;
						// background-image: url(../img/MyOrdbok.png);
						background-image: url(../img/MyOrdbok.logo.png);
						background-repeat: no-repeat;
						background-position: center center;
						background-size: contain;
						margin: 0px 35px;
						filter: var(--filter-logo);
					}
					// &.toggle {
					// 	// float: right;
					// 	position: absolute;
					// 	// background-color: red;
					// 	top: 0;
					// 	right: 10px;
					// 	font-size: 24px;
	
					// 	&::before {
					// 		padding-top: 3px;
					// 	}
					// 	&.active {
					// 	}
					// }
					&.toggle {
						// float: right;
						position: absolute;
						// background-color: red;
						top: 0;
						// right: 20px;
						left: 20px;
						font-size: 24px;
						// background-color: red;
						> span {
							display: block;
							width: 30px;
							height: 3px;
							background-color: var(--color-text-disable);
							margin: 5px 0;
							transition: 0.4s;
	
							border-radius: 2px;
							// &:nth-child(1) {
							// 	width: 80%;
							// }
							&:nth-child(2) {
								width: 50%;
							}
							&:nth-child(3) {
								width: 70%;
							}
						}
					}
				}
				// @include user-select();
			}
			> ol {
				display: none;
				text-align: center;
				padding: 3%;
	
				// background-color: aliceblue;
				> li {
					// display: inline-block;
					padding: 4px 4%;
					a {
						display: block;
						padding: 10px 20px;
						font-size: 1.3em;
						border-radius: 50px;
						background-color: rgba(var(--color-text), 0.2);
					}
					&.active {
						a {
							// color: #fff;
							background-color: rgba(var(--color-text), 0.4);
							// background-color: rgba(var(--color-surround), 0.6);
							color: var(--color-text-hover);
						}
					}
					&.theme {
						> div {
							&.theme-switch {
								margin-bottom: 40px;
								> button {
									transform: scale(1.8);
								}
							}
						}
					}
					&.office {
						a {
							overflow: hidden;
							span {
								display: table-cell;
	
								&.img {
									width: 25px;
									border: 2px outset rgba(var(--color-text), 0.7);
									border-radius: 100%;
									background-size: 100%;
									background-position: center center;
									background-repeat: no-repeat;
									&:before {
										border-radius: 100%;
										// width: 25px;
										// height: 21.5px;
										width: 25px;
										height: 23px;
										box-shadow: inset 0px 1px 2px 0px rgba(var(--color-main), 0.5);
										background-color: rgba(var(--color-main), 0.8);
										color: #fff;
										content: "\e80c";
										font-family: "myordbok";
										font-style: normal;
										font-weight: normal;
										font-size: 18px;
										// font-size: 15px;
										// padding-top: 3.5px;
										// line-height: 13px;
										// padding: 3px 1px;
										display: block;
										text-decoration: inherit;
										text-align: center;
									}
									&.withImage {
										border: 2px outset rgba(var(--color-text), 1);
										&::before {
											content: "";
											background-color: transparent;
										}
									}
								}
								&.label {
									width: 100%;
									text-align: center;
									white-space: nowrap;
									text-overflow: ellipsis;
									overflow: hidden;
									// padding-left: 7px;
									// display: none;
								}
							}
						}
					}
				}
			}
		}
	}
	
	> div {
		// > div {
		// 	ol {
		// 		&.page {
		// 			background-color: blue;
		// 		}
		// 		&.user {
		// 			background-color: red;
		// 		}
		// 	}
		// }
		&.active {
			margin-bottom: 30px;
			> div {
				display: block;
	
				background-color: rgba(var(--color-surround), 1);
				@include box-shadow(0px, 3px, 2px, 0px, rgba(var(--color-text), 0.2));
			}
	
			li {
				> ol.menu {
					display: block;
				}
			}
			div.toggle {
				> span {
					&:nth-child(1) {
						transform: translate(0, 7px) rotate(-45deg);
					}
					&:nth-child(2) {
						opacity: 0;
					}
					&:nth-child(3) {
						width: auto;
						transform: translate(0, -9px) rotate(45deg);
					}
				}
			}
		}
	}
	// @at-root body >div {
	//   // padding-top: 50px;
	//   background-color: red;
	// }
}
