&.wrapper {
	padding: 2% 0;
	> div {
		&.row {
			display: table;
			width: 98%;
			padding: 1%;
			&.table-layout-fixed {
				table-layout: fixed;
			}
			&#gcomments {
				display: block;
				margin: 0 auto;
				max-width: 100% !important;
				height: auto;
				iframe {
					max-width: 100% !important;
					border: 0 !important;
				}
			}
			> div {
				padding: 1%;
				&.width-wide {
					// width: auto;
					// table-layout:fixed;
					// background-color: lighten(#ccc,10%);
					padding: 3%;
				}
				&.table-cell {
					display: table-cell;
					vertical-align: inherit;
					vertical-align: middle;
				}
				&.width-fixed {
					width: 30%;
				}
				// NOTE progess
				&.progress {
					max-width: 500px;
					// margin: 5px auto;
					margin: 10px auto;
					padding: 0;
					height: 35px;
					border-radius: 20px;
					line-height: 30px;
					> div {
						padding: 5px 10px;
						// color: rgb(var(--color-main));
						transition: all 2s;
						-webkit-transition: all 2s;
						padding: 3px 10px;
						line-height: 28px;
					}
					span {
						padding-right: 5px;
						font-size: 1em;
						// background-color: #fff;
						// display: inline-block;
						// padding: 0 10px;
						// margin: 0 5px;
						// border-radius: 20px;
						color: white;
						&:first-child {
							// color: red;
							color: rgba(white, 0.7);
							&::after {
								content: " :";
							}
						}
						&:last-child {
							// padding-right: 0;
							// color: rgba(var(--color-text));
							// color: rgba(var(--color-text), 1);
							text-shadow: 1px 0px 1px rgba(var(--color-text) 0.2);

							// text-shadow: 1px 0px 1px #fff;
						}
					}
					&.percentage {
						// color: #fff;
						// background-color: rgba(var(--color-main), 0.5);
						background-color: rgba(var(--color-text), 0.2);
						position: relative;
						overflow: hidden;
						> div {
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							&:first-child {
								z-index: 1;
								// @include box-shadow(1px, 0px, 0px, 10px, red);
								// box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
								// box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
								// box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
								// box-shadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.39);
							}
							&:last-child {
								z-index: 0;
								// background-color: rgba(var(--color-main), 0.5);
								// border-right: 1px solid rgba(var(--color-main), 0.15);
								// background-color: rgba(var(--color-main), 0.5);
								background-color: rgba(var(--color-text), 0.3);
								// border-right: 1px solid rgba(var(--color-main), 0.15);

								// @include box-shadow(0px, 0px, 2px, 2px, red);
							}
						}
					}
					&.status {
						// background-color: rgba(var(--color-main), 0.5);
						// background-color: rgba(var(--color-main), 0.7);
						background-color: rgba(var(--color-text), 0.5);
					}
				}
				&.header {
					// width: 26%;
					// text-align: right;
					h2 {
						// display: inline-block;
						// padding: 2px 5%;
						// border-radius: 4px;
						// color: #569ed7;
						// text-shadow: 1px 0px 1px #fff;
						color: rgba(var(--color-text), 0.5);
						// color: rgba(var(--color-background), 0.5);
						// text-shadow: 1px 0px 1px rgba(var(--color-text), 1);
						// if environment
						// &.true {
						// 	color: rgba(var(--color-danger), 1);
						// }
					}
					h1 {
						font-size: calc(3vw + 80%);
						// line-height: 430%;
						text-shadow: rgba(var(--color-background), 0.5) 0px 0px 1px;
						color: rgba(var(--color-text), 0.6);
					}
					h3 {
						font-weight: normal;
						// color: rgba(var(--color-highlight), 0.9);
						color: rgba(var(--color-text), 0.4);
						sup {
							color: rgba(var(--color-text), 0.8);
							font-size: 70%;
						}
					}
					p {
						color: rgba(var(--color-text), 0.8);
						padding: 20px 0;
						font-size: 90%;
					}
				}
				> i {
					display: block;
					padding: 1%;
					&:before {
						font-size: 7em;
						padding: 0;
						margin: 0;
						// color: darken(#ccc, 7%);
						// text-shadow: 1px 1px 1px #666;
						color: rgba(var(--color-highlight), 2);
						text-shadow: 1px 1px 1px #666;
					}
				}
				a {
					// Myanmar text link
					&.mtxt {
						line-height: 12px;
						font-size: 90%;
					}
				}
				strong {
					// color: rgba(var(--color-highlight), 0.9);
					color: rgba(var(--color-text), 0.5);
				}
				em {
					// color: rgba(var(--color-highlight), 0.32);
					color: rgba(var(--color-text), 0.6);
					// font-style: normal;
					font-size: 90%;
					font-style: italic;
				}
				q {
					// color: rgba(var(--color-danger), 1);
					color: rgba(var(--color-text), 0.8);
					&.mdic {
						color: rgba(var(--color-text), 1);
						// font-weight: bold;
						// font-style: italic;
						text-decoration: underline;
					}
				}
				&.dictionaries {
					h3 {
						// color: rgba(var(--color-main), 0.15);
						// text-align: center;
						color: rgba(var(--color-text), 0.7);
						padding: 2%;
					}
					> ol {
						// box-shadow:inset 0px -1px 1px 1px lighten(#666,30%);
						// border-radius: 5px;
						overflow: hidden;
						text-align: center;
						display: table;
						width: 80%;
						margin: 0 auto;
						table-layout: fixed;
						> li {
							display: table-cell;
							overflow: hidden;
							h3 {
								margin: 3%;
								font-weight: normal;
								// color: #666;
							}
							ol {
								li {
									list-style: none;
									padding: 1%;
									a {
										display: inline-block;
										overflow: hidden;
										text-overflow: ellipsis;
										white-space: nowrap;
										padding: 3px 20px;
										line-height: 30px;
										border-radius: 20px;
										font-weight: normal;
										// background-color: rgba(var(--color-main), 0.6);
										background-color: rgba(var(--color-text), 0.2);
										// color: #fff;
										color: rgba(var(--color-text), 0.6);
										text-shadow: 0px 0px 1px #ccc;
										transition: 1s;
										&:hover {
											background-color: rgba(var(--color-text), 0.3);
										}
									}
									&.active {
										a {
											background-color: rgba(var(--color-text), 0.3);
										}
									}
								}
							}
						}
						&.dictionary {
							width: 100%;
							> li {
								h3 {
									// color: #666;
									color: var(--color-text-disable);
								}
								ol {
									li {
										a {
											display: block;
											padding: 7px 10%;
										}
									}
								}
							}
						}
						@media #{$media-mobile} {
							border-radius: 10px;
							width: 100%;
							background-color: rgba(var(--color-main), 0.2);
							box-shadow: 0px 1px 1px 1px rgba(var(--color-text), 0.2);
							overflow: hidden;
							> li {
								display: table-row;
								// h3{}
								ol {
									li {
										padding: 0px;
										a {
											border-radius: 0px;
											padding: 7px 10%;
											display: block;
										}
									}
								}
							}
						}
					}
				}
				&.social {
					a {
						display: inline-block;
						background-color: rgba(var(--color-text), 0.6);
						vertical-align: middle;
						text-align: center;
						margin: 1% 3px;
						&:before {
							font-size: 2em;
							color: #fff;
							padding: 7px 0;
						}
						border-radius: 100%;
						span {
							display: none;
						}
						&:hover {
							background-color: rgba(var(--color-text), 0.6);
							&:before {
								text-shadow: 1px 2px 1px #000;
							}
						}
						&:not([href]) {
							background-color: rgba(var(--color-text), 0.3);
							span {
								color: rgba(var(--color-text), 0.4);
							}
							&:hover {
								background-color: rgba(var(--color-text), 0.3);
								&:before {
									text-shadow: none;
								}
							}
						}
						@media #{$media-desktop} {
							&:not(:nth-child(2)) {
								width: 45px;
								height: 45px;
							}
							&:nth-child(2) {
								border-radius: 3px;
								padding: 2px 5px;
								&:before {
									font-size: 1em;
									// color: #fff;
									padding: 7px 0;
								}
								span {
									display: inline-block;
									padding: 2px 5px;
									// color: #ccc;
								}
							}
						}
					}
				}
				&.donation {
					> div {
						background-color: rgba(var(--color-main), 0.3);
						// box-shadow: inset 0px 0px 1px 1px lighten(#666, 30%);
						box-shadow: inset 0px 0px 1px 1px rgba(var(--color-main), 0.3);
						border-radius: 12px;
						padding: 2%;
						> p {
							padding: 2%;
							&.icon-paypal {
								color: rgba(var(--color-text), 0.8);
							}
						}
						> form {
							display: inline-block;
							margin: 7px;
							button {
								outline: 0;
								background-color: #fff;
								padding: 12px 20px;

								background-color: rgba(var(--color-main), 0.8);
								border: 2px solid rgba(var(--color-background), 0.9);
								border-radius: 7px;
								color: white;
								font-size: 104%;
								vertical-align: middle;
								&::before {
									font-size: 120%;
								}
								&:hover {
									background-color: rgba(var(--color-main), 1);
								}
							}
						}
					}
				}

				@media #{$media-mobile} {
					// display: table-row;
					&.header {
						text-align: center;
						h3 {
							margin: 5% 3%;
						}
					}
				}
			}
			> p {
				padding: 20px 10px;
				max-width: 600px;
				margin: 20px auto;

				border-radius: 10px;
			}
			> h1 {
				// color: rgb(var(--color-highlight));
				display: inline-block;
				border-radius: 100px;
				color: rgba(var(--color-text), 0.8);
				text-shadow: 0px 0px 1px rgba(#ccc, 0.2);
				// padding: 5px 25px;
				> em {
					color: rgba(var(--color-text), 0.6);
				}
				> span {
					color: rgba(var(--color-text), 0.5);
					text-shadow: 3px 0px 1px rgba(#ccc, 0.1);
					font-weight: normal;
				}
			}
		}
	}
	> form-not-in-used {
		// display: inline-block;
		margin: 5%;
		// margin:5% auto;
		// margin: 0 auto;
		// max-width: 500px;
		// width: auto;
		background-color: lighten(#ccc, 15%);
		// box-shadow:inset 0px 1px 1px 1px lighten(#666,50%);
		border-radius: 4px;
		padding: 2%;
		h2 {
			padding: 2%;
		}
		div {
			padding: 4px 2px;
			span,
			em {
				display: inline-block;
			}
			span {
				width: 150px;
				margin-right: 7px;
				// min-width: 20%;
				text-align: right;
				color: #666;
			}
			input,
			textarea {
				min-width: 250px;
				padding: 9px;
				border: 0px solid #ccc;
				border-radius: 2px;
				box-shadow: 0px 0 1px 1px lighten(#666, 45%);
				outline: 0;
				&:focus {
					box-shadow: 0px 0 1px 1px lighten(#666, 35%);
				}
				&[type="submit"] {
					min-width: auto;
					margin-left: 157px;
					background-color: rgba(var(--color-main), 0.5);
					box-shadow: 0px 0px 0px 0px rgba(var(--color-main), 0.5);
					color: #fff;
				}
			}
			em {
				width: 5%;
			}
			&.submit {
				padding-left: 155px;
			}
			&.socialnetwork {
				margin: 1%;
				div {
					// border:1px solid #fff;
					// background-color: red;
					// padding: 1%;
					margin: 1%;
					a {
						display: block;
						border-radius: 4px;
						color: #fff;
						border: 1px solid #fff;
						background-color: red;
						font-size: 110%;
						text-shadow: #000 1px 1px 1px;
						text-align: left;
						&::before {
							padding: 15px 13px;
							border-right: 1px solid #fff;
							margin-right: 15px;
							text-shadow: #000 1px 1px 1px;
							// text-shadow: #FFFFFF 1px 1px 1px;
						}
					}
					&.google {
						a {
							background-color: rgba(var(--color-google), 0.5);
							&:hover {
								background-color: rgba(var(--color-google), 0.7);
							}
						}
					}
					&.facebook {
						a {
							background-color: rgba(var(--color-facebook), 0.5);
							&:hover {
								background-color: rgba(var(--color-facebook), 0.7);
							}
						}
					}
					&.twitter {
						a {
							background-color: rgba(var(--color-twitter), 0.5);
							&:hover {
								background-color: rgba(var(--color-twitter), 0.7);
							}
						}
					}
				}
			}
		}
		p {
			padding: 2%;
			// text-align: center;
		}

		@media #{$media-mobile} {
			text-align: center;
			div {
				span,
				em,
				input {
					display: block;
					padding: 2%;
				}
				span {
					// width: 150px;
					width: 96%;
					// text-align: right;
					color: #666;
					text-align: center;
				}
				input,
				textarea {
					min-width: auto;
					width: 70%;
					padding: 2% 5%;
					margin: 0 auto;
					border-radius: 50px;
					&[type="submit"] {
						min-width: auto;
						margin-left: auto;
					}
				}
				em {
					display: none;
				}
			}
			p {
				padding: 5%;
				// text-align: center;
			}
		}
	}
}
