&.result {
	> div {
		&.sense {
			> div {
				&.definition {
					margin: 1%;
					// > div {
					// 	&.meaning {
					// 		// padding-left: 20%;
					// 		> div.pos {
					// 			// padding-left: 20%;
					// 			padding-left: 225px;
					// 		}
					// 	}
					// }
				}
			}
			> div.definition {
				// border-left: 2px solid rgba(var(--color-highlight), 0.6);
				border-left: 1px solid rgba(var(--color-text), 0.2);

				> div {
					&.lexicon {
						> div {
							&.meaning {
								margin-top: 2%;
								> div {
									> h2,
									h3 {
										&::before {
											content: "";
											display: inline-block;
											border-radius: 50%;
											position: absolute;

											height: 17px;
											width: 17px;
											top: 0px;
											left: -9px;
											// border: 1px solid rgba(var(--color-highlight), 0.6);
											border: 1px solid rgba(var(--color-text), 0.2);
											background-color: rgb(var(--color-background));
										}
									}
									> div {
										// margin-top: 2px;

										margin-bottom: 5%;
										padding-left: 5%;
										padding-top: 3%;
										// border-left: 1px solid rgba(var(--color-highlight), 0.6);
										border-left: 1px solid rgba(var(--color-text), 0.1);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media #{$media-tablet} {
}
@media #{$media-tablet} {
}
