&.define {
	&.result {
		// display: table;
		// width: 96%;
		// margin: 0 2%;
		margin-top: 3%;
		> div {
			// display: table-cell;
			&.sense {
				// NOTE: definition
				> div {
					// background-color: red;
					> div {
						&.word {
							margin: 0 2%;
							width: 96%;
							&::before {
								left: 10px;
							}
							> div {
								h1 {
									padding-left: 12px;
								}
							}
						}
						&.lexicon {
							display: block;
							> div {
								display: block;
								&.ads {
									margin: 0 auto;
									margin-top: 5%;
									width: 100%;
									> div {
										width: 250px;
										height: 250px;
										// min-width: 250px;
									}
								}
								&.meaning {
									> div {
										overflow: hidden;
										// margin: 10% 0;
										margin: 7% 2%;
										> h2 {
											padding: 12px 35px 12px 25px;
											border-radius: 0px 0px 50px 0;
											@include box-shadow(
												inset,
												0px,
												-2px,
												4px,
												-1px,
												rgba(var(--color-text), 0.2)
											);
										}
										> h3 {
											display: block;
											padding: 15px;
											margin: 3px 10%;
											text-align: center;
											border-bottom: 1px solid rgba(var(--color-text), 0.1);
										}
										> div {
											> div {
												> p {
													font-size: 105%;
												}
												// > ul {
												// 	li {
												// 		&::before {
												// 		}
												// 	}
												// }
												> ol {
													// NOTE: thesarus
													text-align: center;
													font-size: 115%;
													li {
														a {
															padding: 7px 15px;
															border-radius: 50px;
															// background-color: rgba(var(--color-text), 0.1);
															background-color: rgba(var(--color-link), 0.1);
															&:visited {
																background-color: rgba(
																	var(--color-link-visited),
																	0.9
																);
															}
															&:active {
																background-color: rgba(
																	var(--color-link-active),
																	0.9
																);
															}
															&:hover {
																background-color: rgba(var(--color-hover), 0.9);
															}
														}
													}
												}
											}
										}
										&.pos {
											border-radius: 9px;
											background: rgb(var(--color-background));
											box-shadow: 0 2px 16px rgba(var(--color-text), 0.2);
											> div {
												// padding: 0px 20px 20px 20px;
												padding: 2% 20px 3% 20px;
											}
										}
										&.help {
											> div {
												text-align: center;
												// padding: 10px 0;
											}
										}
									}
								}
							}
						}
					}
				}
			}
			&.promote {
				display: none;
			}
		}
	}
}
