@charset "charset";
@use "sass:color";
@use "Config" as *;
@use "font.Face" as *;

@use "Logo";
@use "Search";
@use "Search-mobile-tablet";
@use "Theme-switch";

@use "bar-Desktop";
@use "bar-Mobile";
@use "bar-Tablet";

@use "header-Desktop";
@use "header-Mobile";
@use "header-Tablet";

@use "footer-Common";
@use "footer-Mobile";
@use "footer-Tablet";

@use "Portal-workspace";
// NOTE: bar
@use "Portal-navigate";
// NOTE: header
@use "Portal-row";
// @use 'Portal.responsive';
// NOTE: home, dictionary
@use "Portal-modest";
// NOTE: privacy, terms
@use "Portal-docs";
// NOTE: about
@use "Portal-wrapper";
// NOTE: definition
@use "Portal-define";

// NOTE: myanmar-fonts
@use "Portal-fonts";
// NOTE: donate
@use "Portal-donate";
// NOTE: grammar
@use "Portal-grammar";
@use "Portal-editor";

html {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	// overflow: hidden;
	// height: 100%;
	// width: 100%;
	// height: 100vh;
	// width: 100vw;
	// position: fixed;
	// -webkit-text-size-adjust: 100%;
	// background: linear-gradient(0deg, rgba(255,255,255,.5) 75%, rgba(49,142,215,0.6) 25%);
	// background: linear-gradient( 0deg, rgb(var(--color-background)) 75%, rgb(var(--color-bar)) 25% );
	// &.landscape{}
	// &.portrait{}

	background-color: rgb(var(--color-background));
	transition: all 2s;
	-webkit-transition: all 2s;
}
// COMMON
// .cursor-hand{cursor:pointer;}
// .cursor-default{cursor:default;}
// .ellipsis{text-overflow:ellipsis;overflow:hidden;max-width:10px;}
// .collapse-separate{border-collapse:separate;border-spacing:1px;}
// .box-shadow{@include box-shadow(0px, 0px, 0px, 10px, #c5c5c5);}
// .transparent{zoom:1;@include opacity(0.5);}
img {
	border: none;
}

a {
	text-decoration: none;
	outline: none;
	// -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight-color:transparent; -webkit-user-select:none; -webkit-touch-callout:none;
	color: rgb(var(--color-link));
	&:visited {
		color: rgb(var(--color-link-visited));
	}
	&:active {
		color: rgb(var(--color-link-active));
	}
	&:hover {
		text-decoration: underline;
		color: rgb(var(--color-link-hover));
	}
}
* {
	padding: 0;
	margin: 0;
}
// NOTE: common
div {
	&.ads {
		> div {
			display: none;
			background-color: rgb(var(--color-reserved-space));
			// display: inline-block;
			vertical-align: middle;
			line-height: normal;
			text-align: center;
			color: rgba(var(--color-text), 0.4);
		}
	}
}

// form{
//   input{
//     &[type="checkbox"]{
//       &:disabled{}
//     }
//   }
//   textarea{}
//   select{}
//   button{}
// }
// textarea{}
// button{}
body {
	// @extend html;
	font-family: $Font;
	color: rgb(var(--color-text));
	font-size: $FontSize;
	direction: ltr;
	// font-synthesis: none;
	// text-rendering: optimizeLegibility;
	transition: color 0.5s, background-color 0.5s;
	// -webkit-font-smoothing: antialiased;

	// background: -webkit-gradient( linear, left top, left bottom, from(rgba(var(--color-bar), 0.2)), to(rgba(var(--color-background), 0.2)) ) fixed;
	// background: linear-gradient( 0deg, rgb(255, 255, 255) 0%, rgba(49, 142, 215, 1) 100% );
	// background-color: rgb(var(--color-background));
	// overflow: auto;
	// height: 100%;
	// background-image: url(../img/MyOrdbok.logo.png);
	// background-repeat: no-repeat;
	// background-position: top center;
	// background-attachment: fixed;
	// background-size: 90% auto;

	&::before {
		display: block;
		background-color: rgb(var(--color-bar));
		height: 2px;
		content: "";
	}

	&.home {
		div.navMobile {
			display: none;
		}
	}
	&.dictionary {
		div.navMobile {
			display: none;
		}
	}
	// &.office {
	// 	background-color: var(--color-office-background);
	// }

	> div {
		// background-color: rgb(var(--color-background));
		@include Portal-editor.css;
	}
}
// NOTE: portal ptl
div.ptl {
	// NOTE: Common
	position: relative;
	&.bg-color {
		// NOTE: set background image
		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
		&::before {
			z-index: -2;
			border: 1px solid rgba(var(--color-bar), 0.1);
			background-color: rgba(var(--color-bar), 0.5);
			border-width: 1px 0px 1px 0px;
		}
		&::after {
			z-index: -1;
			// background-image: url("/src/img/bg/delete.jpg");
			background-size: cover;
			background-attachment: fixed;
			opacity: 0.2;
		}
	}

	&.detail {
		margin-top: 10px;
		margin-bottom: 10px;
		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
		&::before {
			z-index: -2;
			box-shadow: 0px 1px 0px 1px color.adjust(#ccc, $lightness: 10%);
		}
		> div {
			padding-top: 5%;
			padding-bottom: 5%;
		}
	}
	> div {
		position: inherit;
		// NOTE: resize
		&.resz {
			// width: 100%;
			max-width: $max-width;
		}
		// NOTE: center
		&.cetr {
			margin: 0px auto;
		}
		// NOTE: left and right padding
		&.ltrt {
			width: 96%;
			padding-left: 2%;
			padding-right: 2%;
		}
		> div {
			position: inherit;
			// NOTE: logo
			@include Logo.css;
			@include Search.css;
			@include Theme-switch.css;
			@include Portal-workspace.css;
			// NOTE: bar
			@include Portal-navigate.css;
			// NOTE: header
			@include Portal-row.css;
			// @include responsive.css;
			// NOTE: home, dictionary
			@include Portal-modest.css;
			// NOTE: privacy, terms
			@include Portal-docs.css;
			// NOTE: about
			@include Portal-wrapper.css;
			// NOTE: definition
			@include Portal-define.css;
			// NOTE: myanmar-fonts
			@include Portal-fonts.css;
			// NOTE: donate
			@include Portal-donate.css;
			// NOTE: grammar
			@include Portal-grammar.css;
		}
	}
	&#bar {
		// z-index: 5;
		ul {
			display: table;
			width: 100%;
			vertical-align: inherit;
			list-style: none;
			position: relative;
			> li {
				display: table-cell;
				vertical-align: middle;
				position: relative;
			}
		}
		ol {
			list-style: none;
		}
	}
	&#header {
		// z-index: 4;
		padding: 20px 0px;
	}
	&#content {
		// z-index: 2;
		> div {
			> div.message {
				display: none;
			}
			// >div.gads{
			//   // background-color: red;
			//   // height: 320px;
			// }
		}
	}
	&#footer {
		// z-index: 1;
		> div {
			@include footer-Common.css;
		}
	}
	&#consent {
		// position: fixed;
		z-index: 11;
		> div {
			&.cookie-consent {
				position: fixed;
				bottom: 0;
				right: 0;
				// left: 0;
				// max-width: 350px;
				// font-size: 0.9rem;
				font-size: calc(0.2vw + 80%);
				float: right;
				// width: 92%;
				margin: 2% 2.5%;
				// padding: 16px 25px;
				padding: 15px 20px;
				// margin-top: 8px;
				// margin-bottom: 8px;
				// inset-inline-end: 8px;
				// margin-inline-start: 8px;
				// margin-inline-end: 8px;
				z-index: 52;
				display: inline-flex;
				justify-content: space-between;
				flex-direction: row;
				align-items: center;
				max-width: 600px;
				// padding: 16px;
				// color: rgba(var(--color-text), 0.8);
				font-weight: lighter;
				border-radius: 9px;
				background: rgb(var(--color-background));
				box-shadow: 0 2px 16px rgba(var(--color-text), 0.2);
				// background: hsla(0, 0%, 100%, 0.9);
				// box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
				// backdrop-filter: blur(8px);
				// filter: drop-shadow(0 1px 12px rgba(18, 18, 18, 0.08));
				button {
					outline: none;
					border: none;
					flex-shrink: 0;
					margin-inline-start: 11px;
					// background-color: rgba(var(--color-main), 0.9);
					background-color: rgba(var(--color-text), 0.2);
					box-shadow: 0 0 1px 1px rgba(var(--color-text), 0.4);
					// color: #fff;
					color: rgba(var(--color-text), 0.7);
					border-radius: 40px;
					padding: 2% 5%;
				}
				&.none {
					display: none;
				}
			}
		}
	}
	@media #{$media-scale} {
		transform: scale(1);
	}
	@media #{$media-mobile} {
		&#bar {
			> div {
				@include bar-Mobile.css;
			}
		}
		&#header {
			@include header-Mobile.css;
		}
		// &#board{
		//   @use 'board.Mobile' as *;
		// }
		// &#content{
		//   @use 'content.Mobile' as *;
		// }
		&#footer {
			> div {
				padding: 20px 0;
				@include footer-Mobile.css;
			}
		}
		&#consent {
			> div {
				&.cookie-consent {
					> button {
						border-radius: 8px;
						font-size: 130%;
						padding: 2% 8%;
					}
				}
			}
		}
	}
	@media #{$media-tablet} {
		&#bar {
			@include bar-Tablet.css;
		}
		&#header {
			@include header-Tablet.css;
		}
		// &#board{
		//   @use 'board.Tablet' as *;
		// }
		// &#content{
		//   @use 'content.Tablet' as *;
		// }
		&#footer {
			> div {
				@include footer-Tablet.css;
			}
		}
	}
	@media #{$media-desktop} {
		&#bar {
			@include bar-Desktop.css;
		}
		&#header {
			@include header-Desktop.css;
		}
		// &#board{
		//   @use 'board.Desktop' as *;
		// }
		// &#content{
		//   @use 'content.Desktop' as *;
		// }
		// &#footer{
		// }
	}
}

.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
@media #{$media-mobile} {
}
@media #{$media-tablet} {
}
@media #{$media-desktop} {
}
