@use "Config" as *;
@mixin css {
	div.theme-switch {
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
	
		margin: 0;
		transition: background 0.2s linear;
		position: inherit;
	
		> button {
			width: 90px;
			height: 26px;
			display: flex;
			border-radius: 7px;
			align-items: center;
			justify-content: space-between;
	
			padding: 0;
			position: relative;
	
			background-color: rgba(var(--color-text), 0.2);
			border: 1px solid rgba(var(--color-text), 0.1);
	
			> i {
				position: absolute;
				// font-size: 16px;
				font-size: 130%;
				width: 30px;
				height: 25px;
				// top: 0px;
				// color: var(--color-text-disable);
				color: rgba(var(--color-text), 0.3);
				border-right: 0.5px solid rgba(var(--color-text), 0.1);
				// white-space: nowrap;
				// overflow: hidden;
				&::before {
					padding-top: 4px;
				}
				&::after {
					display: none;
					content: attr(data-mode);
					// content: "abcc";
					position: absolute;
					font-style: normal;
					top: 115%;
					left: -2px;
					// background-color: red;
					border-radius: 3px;
					font-size: 12px;
					padding: 1px 4px;
					text-transform: capitalize;
					color: rgba(var(--color-text), 0.7);
					background-color: rgba(var(--color-text), 0.3);
				}
				&:hover {
					&::after {
						display: block;
					}
				}
	
				&:nth-child(2) {
					left: -2px;
				}
				&:nth-child(3) {
					left: 29px;
				}
				&:nth-child(4) {
					left: 60px;
					border-right: none;
				}
			}
			> span {
				width: 23px;
				height: 21px;
				position: absolute;
				top: 1.47px;
				left: 1px;
				// right: 2px;
				border-radius: 5px;
				transition: transform 0.2s linear;
				background-color: rgb(var(--color-surround));
				// @include box-shadow(0px, 0px, 0px, 1px, rgba(var(--color-text), 0.2));
	
				transform: translateX(1px);
			}
			// &[value="auto"] {
			// 	span {
			// 		transform: translateX(1px);
			// 	}
			// }
			// &[value="light"] {
			// 	span {
			// 		transform: translateX(33px);
			// 	}
			// }
			// &[value="dark"] {
			// 	span {
			// 		transform: translateX(62.5px);
			// 	}
			// }
		}
	
		@media #{$media-mobile} {
			button {
				> i {
					&::before {
						padding-top: 6px;
					}
				}
			}
		}
	}
	
	html[data-theme="light"] & {
		div.theme-switch {
			> button > span {
				transform: translateX(31.5px);
			}
		}
	}
	
	html[data-theme="dark"] & {
		div.theme-switch {
			> button > span {
				transform: translateX(62px);
			}
		}
	}
}

// div.theme-switch {
// 	> button > span {
// 		transform: translateX(1px);
// 	}
// }
// div.theme-switch {
// 	> button > span {
// 		transform: translateX(35.5px);
// 	}
// }
// html.light & {
// 	div.theme-switch {
// 		> button > span {
// 			transform: translateX(33px);
// 		}
// 	}
// }
// html.dark & {
// 	div.theme-switch {
// 		> button > span {
// 			transform: translateX(62.5px);
// 		}
// 	}
// }
