{% extends "layout.html" %}
{% load custom_filters %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div id="content" class="ptl">
  <div class="resz cetr">
    {% include "partials/search-modest.html" %}
    <div class="wrapper">
      <div class="row text-center">
        <h1>
          {{ solInfo.name }} - 
          <span class="myanmar">Myanmar</span> dictionary
        </h1>

        {% for desc in info.context %}
          <p class="description">{{ desc }}</p>
        {% endfor %}

        <p class="dated">{{ dated }}</p>

        {% for o in info.progress %}
          {% if o.percentage %}
            <div class="progress percentage" style="--percentage:{{ o.status }}">
              <div title="{{ o.my }}">
                <span>{{ o.en }}</span>
                <span>{{ o.status }}</span>
              </div>
            </div>
          {% elif o.status %}
            <div class="progress status">
              <div title="{{ o.my }}">
                <span>{{ o.en }}</span>
                <span>{{ o.status }}</span>
              </div>
            </div>
          {% endif %}
        {% endfor %}

        <p class="feedback">
          Any creative 
          <form-links type="feedback" text="ideas"></form-links>
          and missing 
          <form-links type="suggestion" text="words &amp; definitions"></form-links>
          can be sent via Google Forms.
        </p>
      </div>

      <div class="row">
        <div class="header text-center">
          <h2>Dictionaries</h2>
        </div>
        <div class="dictionaries">
          <ol>
            {% for conti in dictionaries %}
              <li class="{{ conti.name|lower }}{% if conti.lang|yesno:',' %}{% endif %}{% if solId in conti.lang.values_list  %} active{% endif %}">
                <h3 title="{{ conti.my }}">{{ conti.name }}</h3>
                <ol>
                  {% for lang in conti.lang %}
                    <li class="{{ lang.id }}{% if lang.id == solId %} active{% endif %}">
                      <a data-lag="{{ lang.id }}" href="{% url 'dictionary-detail' lang_name=lang.name|slugify %}" title="{{ lang.my }}">
                        {{ lang.name }}
                      </a>
                    </li>
                  {% endfor %}
                </ol>
              </li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

