{% extends "layout.html" %}
{% load custom_filters %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="ptl" id="content">
  <div class="resz ltrt">
    <div class="grammar forPartsofspeech">

      <div class="row primary text-centers">
        <div>
          <h1>{{ grammar.context.name }}</h1>
          <p>{{ grammar.context.desc|safe }}</p>

          <ul class="note">
            {% for o in grammar.context.kind %}
              <li>
                <strong>{{ o.name }}</strong>
                {{ o.desc }}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>



      <div class="row secondary text-centers">
        <div class="pos">
          <ul class="partsofspeech">
            {% for o in grammar.pos %}
              <li>
                <a href="{% url 'grammar-detail' pos_slug=o.info.slug|default:o.info.name|slugify %}">{{ o.root.name }}</a>
                <p>{{ o.root.desc|safe }}</p>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="grammar">
          <ul class="partsofspeech">
            {% for o in grammar.other %}
              <li>
                <a href="{% url 'grammar-detail' pos_slug=o.info.slug|default:o.info.name|slugify %}">{{ o.root.name }}</a>
                <p>{{ o.root.desc|safe }}</p>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
