{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="ptl terms" id="content">
  <div class="resz ltrt">
    <div class="docs">

      <h1>Terms of service</h1>

      <p>
        Welcome to <strong>{{ appName }}</strong>! These Terms of Service (<q>Terms</q>)
        govern your use of our website, <q>{{ appDomain }}</q>, and any services,
        features, or content provided by <strong>{{ appName }}</strong>
        (collectively, the <q>Service</q>). By accessing or using the Service, you agree
        to be bound by these Terms. If you do not agree with any part of these Terms,
        you should not use the Service.
      </p>

      <ul class="in-short">
        <li>Use <strong>{{ appName }}</strong> for personal, non-commercial purposes.</li>
        <li>Respect copyright and intellectual property.</li>
        <li>Users can contribute content; grant <strong>{{ appName }}</strong> a license to use it.</li>
        <li>Review our Privacy Policy for data handling.</li>
        <li>The Service is provided "as is"; <strong>{{ appName }}</strong> not liable for damages.</li>
        <li><strong>{{ appName }}</strong> may update Terms; check them periodically.</li>
        <li><strong>{{ appName }}</strong> can terminate or suspend access at any time.</li>
      </ul>

      <h2>1. Use of the Service</h2>
      <p>
        <strong>{{ appName }}</strong> provides an online dictionary service that
        allows users to access and search for word definitions and related content.
        The Service is intended for personal and non-commercial use only. You may
        not use the Service for any illegal or unauthorized purpose, nor violate
        any applicable laws in your jurisdiction.
      </p>

      <h2>2. Intellectual Property</h2>
      <p>
        All content and materials provided on <q>{{ appDomain }}</q>, including text,
        graphics, logos, images, audio clips, and software, are either owned or
        licensed by <strong>{{ appName }}</strong>. This content is protected by
        copyright and other intellectual property laws.
      </p>
      <p>
        You may not reproduce, modify, distribute, or republish any content from the
        Service without our prior written consent. Any unauthorized use of the
        content is strictly prohibited.
      </p>
      <p>
        <strong>{{ appName }}</strong> respects the intellectual property rights of
        others, and we expect our users to do the same. If you believe that any
        content on <q>{{ appDomain }}</q> infringes on your intellectual property
        rights, please contact us, and we will promptly address the concern.
      </p>

      <h2>3. User Contributions</h2>
      <p>
        <strong>{{ appName }}</strong> allows users to contribute word definitions,
        comments, and other content to the Service. By submitting any content, you
        grant <strong>{{ appName }}</strong> a non-exclusive, royalty-free,
        worldwide, and perpetual license to use, display, reproduce, modify, adapt,
        publish, and distribute the content for the purpose of providing and
        promoting the Service.
      </p>
      <p>
        You are solely responsible for the content you contribute to the Service.
        Please ensure that your contributions comply with our guidelines and do not
        infringe on the rights of any third party. We reserve the right to remove
        any content that violates these Terms or is deemed inappropriate at our
        discretion.
      </p>

      <h2>4. Privacy Policy</h2>
      <p>
        Your privacy is important to us. Please review our Privacy Policy to
        understand how we collect, use, and disclose personal information in
        connection with the Service.
      </p>

      <h2>5. Disclaimer of Warranties</h2>
      <p>
        The Service is provided on an "as is" and "as available" basis without any
        warranties, express or implied. <strong>{{ appName }}</strong> does not
        warrant that the Service will be uninterrupted, error-free, or free from
        viruses or other harmful components. You use the Service at your own risk.
      </p>

      <h2>6. Limitation of Liability</h2>
      <p>
        <strong>{{ appName }}</strong> and its affiliates, officers, directors,
        employees, agents, and licensors shall not be liable for any direct,
        indirect, incidental, special, or consequential damages arising out of or in
        any way connected with your use of the Service or the content provided on
        <q>{{ appDomain }}</q>.
      </p>

      <h2>7. Modifications to the Terms</h2>
      <p>
        <strong>{{ appName }}</strong> may update or modify these Terms from time to
        time without prior notice. It is your responsibility to review these Terms
        periodically. Your continued use of the Service after any changes to the
        Terms constitutes your acceptance of the updated Terms.
      </p>

      <h2>8. Termination</h2>
      <p>
        <strong>{{ appName }}</strong> reserves the right to terminate or suspend
        your access to the Service at any time and for any reason, without prior
        notice or liability.
      </p>

      <h2>9. Governing Law</h2>
      <p>
        These Terms shall be governed by and construed in accordance with the
        applicable laws, without regard to its conflicts of law principles.
      </p>

      <h2>10. Myanmar Fonts</h2>
      <p>
        <strong>{{ appName }}</strong> provides access to some Myanmar fonts for
        educational purposes. These fonts were created before the adoption of UTF-8
        encoding and may not be readily available for download or use.
      </p>
      <p>
        The purpose of offering these fonts is to enable users to study and
        understand how rendering worked in the past for Myanmar scripts. They serve
        as valuable resources for researchers, linguists, and individuals interested
        in historical font rendering techniques.
      </p>
      <p>
        Please note that the availability of these fonts for download may vary. Some
        fonts may be freely downloadable, while others might not be accessible due
        to copyright or other restrictions.
      </p>
      <p>
        <strong>{{ appName }}</strong> does not claim ownership of these old Myanmar
        fonts and provides them solely for educational and research purposes. Users
        can access the metadata information of these fonts, which may include
        details about their licensing and usage permissions.
      </p>
      <p>
        If anyone intends to use these Myanmar fonts for commercial purposes,
        <strong>{{ appName }}</strong> advises caution and recommends seeking
        appropriate permissions from the fonts' respective copyright owners. Please
        refer to the provided metadata information for guidance on obtaining such
        permissions.
      </p>
      <p>
        For further information about the usage and availability of these Myanmar
        fonts, please contact us. We are dedicated to fostering a collaborative and
        informative platform for language enthusiasts and researchers.
      </p>

      <h2>11. Contact Us</h2>
      <p>
        If you have any questions or concerns about these Terms, please contact us
        at
        <<form-links type="feedback" text="Google forms" title="အကြောင်းကြားပေးရန်"></form-links>.
      </p>
      <p>
        Thank you for using <strong>{{ appName }}</strong>! We hope you find our
        dictionary service helpful and informative.
      </p>

    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include "partials/footer.html" %}
{% endblock %}
