extends ../layout
block content
  div.ptl#content
    div.resz.cetr
      div.docs
        h1 header 1
        p hello world

        a(href="#") link
    div
      div.sponsor
        h1 header 1
        p
          | hello world
          |
          a(href="#") link
          |
          a(href="/new") link new